src/python/__pycache__/
*.log
data
figures
XML_combined/
*.nc
*.swp
*.xml
*.html
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
.ipynb_checkpoints
src/emodnet-chemistry-surface-phosphate-*
python/__pycache__
python/logs
.vscode/
